.navbar p {
	margin: 5px 5px 5px 5px;
}

.navbar-fixed-top .navbar-inner {
	border-width: 0 0 1px;
}

.navbar-fixed-top .navbar-inner {
	padding-right: 0;
	padding-left: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-fixed-top .omis-container {
	width: 940px;
}

.navbar-fixed-top {
	top: 0;
}

.navbar-fixed-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	/*z-index: 1030;*/
	margin-bottom: 0;
}

.navbar-inner:before,
.navbar-inner:after {
	display: table;
	line-height: 0;
	content: "";
}

.navbar-inner:after {
	clear: both;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.systtl {
  display: block;
  float: left;
  /*padding: 14px 20px 8px;
  margin-left: -16px;*/
  padding: 5px 20px 5px 0px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand {
  display: block;
  /*float: left;*/
  /*padding: 10px 20px 8px;*/
  /*margin-left: -20px;*/
  padding: 10px 20px 5px 0px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

.navbar {
  *position: relative;
  /**z-index: 2;*/
  /*z-index: 1500;*/
  /*margin-bottom: 20px;*/
  overflow: visible;
}

.navbar .omis-container {
  	width: auto;
	margin-right: 15px;
	margin-left: 15px;
}

Pao
/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */

body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  /*margin-left: 20px;*/
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


body {
  padding-top: 50px;
  padding-bottom: 0px;
  /* font-size: 14px; */
}

/*
body {
	padding-top: 0;
}
*/

/* other css */
/*
.navbar-fixed-top {
	margin-right: -20px;
	margin-left: -20px;
}
*/
/*
.navbar-fixed-top {
	position: static;
}
*/

.navbar-fixed-top {
	margin-bottom: 20px;
}

.navbar-fixed-top .navbar-inner {
	padding: 0px 5px 5px 5px;
}

.navbar .omis-container {
    width: auto;
    padding: 0;
}

.navbar .brand {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
/*
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
*/

.nav {display:block}
.nav{margin-bottom:20px;margin-left:0;list-style:none}
.omis-container{margin-right:auto;margin-left:auto;*zoom:1}
.omis-container:before, .omis-container:after{display:table;line-height:0;content:""}
.omis-container:after{clear:both}
.omis-container-fluid{padding-right:20px;padding-left:20px;*zoom:1}
.omis-container-fluid:before,.omis-container-fluid:after{display:table;line-height:0;content:""}
.omis-container-fluid:after{clear:both}
img{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}

/* Additional Codes */
.small_font {
	font-size: 10px;
}
